.navigation {
    display: flex; 
    justify-content: space-between;
    height: 100px;
}
.navigation img {
    padding-left: 40px;
    padding-top: 20px;
}
.navigation .menu .menuoptions {
    padding-top: 45px;
    padding-right: 40px;
}
.navigation .menu .menuoptions a {
    display: inline; 
    padding-right: 20px;
    line-height: 1.0; 
    font-size: 24px; 
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.navigation .menu label {
    padding-right: 40px;
    padding-top: 30px;
    font-size: 50px;
    line-height: 1.0;
    display: none;
}
#toggle {
    display: none;
}
.projects p {
    text-align: center;
    font-size: 36px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 50px;
}
.helloproject {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.helloproject .helloprojectdescription p {
    text-align: center;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}
.helloproject .helloprojectdescription .button {
    display: flex;
    justify-content: center;
}
.helloproject .helloprojectdescription button {
    background-color: #e2e2e2;
    border-radius: 8px;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
}
.nisicproject {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.nisicproject .nisicprojectdescription p {
    text-align: center;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}
.nisicproject .nisicprojectdescription .button {
    display: flex;
    justify-content: center;
}
.nisicproject .nisicprojectdescription button {
    background-color: #e2e2e2;
    border-radius: 8px;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
}
.cookingmattersproject {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.cookingmattersproject .cookingmattersprojectdescription p {
    text-align: center;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}
.cookingmattersproject .cookingmattersprojectdescription .button {
    display: flex;
    justify-content: center;
}
.cookingmattersproject .cookingmattersprojectdescription button {
    background-color: #e2e2e2;
    border-radius: 8px;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
}
.footer {
    text-align: center; 
    margin-top: 80px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background-color: #6B6B6B;
}
.footer p {
    font-size: 18px; 
    font-family: 'Work Sans', sans-serif; 
    color: #ffffff;
}
.footer .email a {
    font-size: 18px; 
    font-family: 'Work Sans', sans-serif; 
    color: #ffffff;
}
.footer .linkedin a {
    font-size: 18px; 
    font-family: 'Work Sans', sans-serif; 
    color: #ffffff;}
@media only screen and (max-width: 1000px) {
    .navigation .menu label {
        display: inline-block;
    }
    .navigation .menu .menuoptions {
        display: none;
    }
}